body{
    margin: 0%;
    padding: 0%;
}
.container{
  
}
.navbar-default{
    background-color:#0d5acd;
}
#coupon{
    height:320px;
    width:550px;
    margin-top: 8%;
    margin-left: 22%;
    background-color:rgb(0 0 0 / 23%);
    visibility: hidden;
    position: absolute;
    z-index:100
}
.cp{
    height:280px;
    width:500px;
    margin-left: 5.4%;
    margin-top: -2;
  
}
.cp1{
    height:280px;
    width:49.2%;
    float: left;
    background-color: white;
  
}
.cp2{
    height:280px;
    width:49.2%;
    float: left;
    background-color: white;
   
}
.cp-sub{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 12%;
    font-family: 'Times New Roman', Times, serif;
    color: #292427;
}
.cp-sub2{
    font-size: 18px;
    text-align: center;
    margin-top: 1%;
    font-family: 'Times New Roman', Times, serif;
}
.cp-sub3{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #ad1e2d;
    margin-top: 10%;
    font-family: 'Times New Roman', Times, serif;
    
}

.navbar-brand{
    font-size: 35px;
    font-weight: bold;
    margin-top: 0.8%;
    margin-left: 0%;
    font-family: 'Times New Roman', Times, serif;

   
}

.navbar-form navbar-left{
    margin-left:0% ; 
    margin-top: 0.8%;
}

.btn-group{
    margin-top: 0.8%; 
    margin-left:0%;
}

.btn-primary {
    color: #fff;
    background-color: #0d5acd;
    border-color: #2e6da4;
}
.btn-lg{
    color: #fff;
    background-color: #0d5acd;
    border-color: #2e6da4;
}
.btn-secondary{
    color: black;
    background-color: white;
    font-weight: bold;
}

.media-heading{
    font-size: 60px; 
    font-weight: bold;
     margin-top: 20%;
}

.media-right{
    width:440px
}
.h3-head{
    font-size: 35px;
    font-weight: bold;

}
.header{
    height: 450px;
    width: 100%; 
   
}
.subhead{
    height: 100px;
    width: 30%; 
    box-shadow: 10px 20px 10px gray;
    float: left;
    margin: 1%;
    margin-left: 2%;
}
.subhead1{
    height: 100px;
    width: 35%;
    float: left;  
}

.subhead:hover{
    transform: scale(1.1);
}

.subhead2{
    height: 100px;
    width: 65%;
   
    float: left;
}
.subhead2-1{
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
}
.subhead2-2{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    
}
.media-heading2{
    font-size: 35px; 
    font-weight: bold;
     margin-top: 30%;
     margin-left: 6%;
}
.three{
    font-size: 22px;
    margin-left: 6%;
}
.three2{
    font-size: 17px;
    margin-left: 6%;
    margin-top: 7%;
}
.media-body2{
    background-color: #ebf3ff;
}

.head1{
    font-size: 65px;
    font-weight: bold;
    text-align: center;

}
.head2{
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    margin-top: -2%;

}
.head3{
    font-size: 35px;
    text-align: center;
}


.head11{
    float: right; 
    margin-top: -3.3%;
    margin-right: 39%; 
    font-size: 15px;
     color: white;
    
}
.head22{
    float: right; 
    margin-top: -3.3%;
    margin-right: 29%; 
    font-size: 15px;
     color: white;
    
}
.head33{
    float: right; 
    margin-top: -3.3%;
    margin-right: 17%; 
    font-size: 15px;
     color: white;
    
}

.mid{
    height: 300px;
    width: 100%;
    background-color:  #ebf3ff;
   
}
.mid1{
    height: 300px;
    width: 50%;
 
    float: left;
}
.mid2{
    height: 300px;
    width: 50%;

    float: left;
}
.mid-12{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5%;

}
.mid-123{
    text-align: center;
    font-size: 23px;
    margin-top: 5%;

}.mid-22{
    font-size: 23px;
    margin-top: 13%;
    font-weight: bold;
    text-align: center;
    color: blue;
}
.media-heading3{
    font-size: 35px;
 
    margin-left: 14%;
    margin-top: 15%;

}
.three2{
    font-size: 18px;
 
    margin-left: 14%;
    margin-top: 2%;

}
.end{
    height: 1150px;
    width: 100%;
    background-color: #f5f5f5;
   
}
.end1{
    height: 1150px;
    width: 25%;
    float: left;
}
.end2{
    height: 1150px;
    width: 25%;
    float: left;
}

.end3{
    height: 1150px;
    width: 25%;
    float: left;
}

.end4{
    height: 1150px;
    width: 25%;
    float: left;
}
.end11{
    font-size: 20px;
    font-weight: bold;
}
.end111{

    font-size: 16px;
    
}
.end222{

    font-size: 16px;
    
}
.end333{

    font-size: 16px;
    
}
.end444{

    font-size: 14px;
    
}
.end12{
   
    font-size: 20px;
    font-weight: bold;
    margin-top: 5%;
}
.foot{
    height: 140px;
    width: 100%;
    background-color: #f5f5f5;
}
.foot1{
    font-size:16px ;
   
}
.fa {
    padding: 8px;
    font-size: 20px;
    width: 35px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: black;
    color: white;
    border-radius: 50%;
   
  }
  .fa-twitter {
    background: black;
    color: white;
    border-radius: 50%;
  }
  .fa-instagram {
    background: black;
    color: white;
    border-radius: 50%;
  }
  .fa-youtube{
    background: black;
    color: white;
    border-radius: 50%;
  }
  .fa-linkedin {
    background: black;
    color: white;
    border-radius: 50%;
  }
  

  

  


